<p>card works!</p>

<div id="card" (click)="onCardSelect()">
  <header> </header>
  <div>
    <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=612x612&w=0&h=NGxdexflb9EyQchqjQP0m6wYucJBYLfu46KCLNMHZYM=" width="160" height="100">
    <a (click)="onNameClick()">fullname: {{this.fullname }} </a>
    <p>age: {{ this.age }} </p>
    <p>gender: {{ this.gender }} </p>
    <p>Your score: {{ this.score }}</p>
  </div>
</div>



