<div id="mulit-table">
  <span>{{ this.inNumber }} X 1={{ this.inNumber * 1 }}</span> <br>
  <span>{{ this.inNumber }} X 2={{ this.inNumber * 2 }}</span> <br>
  <span>{{ this.inNumber }} X 3={{ this.inNumber * 3 }}</span> <br>
  <span>{{ this.inNumber }} X 4={{ this.inNumber * 4 }}</span> <br>
  <span>{{ this.inNumber }} X 5={{ this.inNumber * 5 }}</span> <br>
  <span>{{ this.inNumber }} X 6={{ this.inNumber * 6 }}</span> <br>
  <span>{{ this.inNumber }} X 7={{ this.inNumber * 7 }}</span> <br>
  <span>{{ this.inNumber }} X 8={{ this.inNumber * 8 }}</span> <br>
  <span>{{ this.inNumber }} X 9={{ this.inNumber * 9 }}</span> <br>
  <span>{{ this.inNumber }} X 10={{ this.inNumber * 10 }}</span>
</div>

